@model SharingListModel
@{
    var comments = ViewBag.Comments;
    void GetComments(List<CommentListModel> comments)
    {
        if (comments.Count > 0)
        {
            foreach (var comment in comments)
            {
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">@comment.UserName</h5>
                         @comment.Description
                    </div>

                </div>
            }

        }
    }
}
<!-- Title -->
<h1 class="mt-4">@Model.Title</h1>

<!-- Author -->
<p class="lead">
    by
    <a href="#">@Model.UserName</a>
</p>

<hr>

<!-- Date/Time -->
<p>Posted on @Model.SharingDate.ToLongDateString()</p>

<hr>



<hr>

<!-- Post Content -->
<p class="lead">@Model.Description</p>


<hr>

<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <form asp-action="Detail" asp-controller="Home" method="post">
            <div class="form-group">
                <textarea name="description" class="form-control" rows="3"></textarea>
            </div>
            <div>
                <input name="sharingId" type="hidden" value="@Model.Id" />
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>

<!-- Single Comment -->

@{
    GetComments(comments);
}