@model List<SharingListModel>
@{
    string displayShortDescription(string description)
    {
        int numberOfChars = description.Length;
        if (numberOfChars < 400)
        {
            return description;
        }
        else
        {
            return description.Substring(0, 400) + "...";
        }
    }
}
<div class="col-md-8">
    <div class="my-4">
        @foreach (var sharing in Model)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">@sharing.Title</h2>
                    <p class="card-text">@displayShortDescription(@sharing.Description)</p>
                    <div style="display:flex;justify-content: flex-end;">
                        <a  asp-action="Detail" asp-route-id="@sharing.Id" class="btn btn-primary">Show Details</a>

                    </div>
                </div>
                <div class="card-footer text-muted">
                   
                    @sharing.SharingDate.ToString("dddd, MMMM dd yyyy", new System.Globalization.CultureInfo("en-US")) by  <a href="#">@sharing.UserName</a>

                </div>

            </div>
        }

        <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul>
    </div>



</div>

<div class="col-md-4">

    <div class="card my-4">
        <form asp-action="Index" asp-controller="Home" method="GET">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <input name="key" type="text" class="form-control" placeholder="">
                    <span class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div>
            </div>
        </form>
    </div>

    @await Component.InvokeAsync("CategoryList")



</div>
