

@model List<SharingListModel>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


@{
    string displayShortDescription(string description)
    {
        int numberOfChars = description.Length;
        if (numberOfChars < 400)
        {
            return description;
        }
        else
        {
            return description.Substring(0, 400) + "...";
        }
    }
}
<div class="col">
    <div class="my-4">
        @foreach (var sharing in Model)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">@sharing.Title</h2>
                    <p class="card-text">@displayShortDescription(@sharing.Description)</p>
                        <div style="display:flex;justify-content: flex-end;">
                            <a asp-action="Detail" asp-route-id="@sharing.Id" class="btn btn-primary">Show Details</a>
                        </div>
                    </div>
                    <div class="card-footer text-muted container">
                        <div class="d-inline-block ">
                            @sharing.SharingDate.ToString("dddd, MMMM dd yyyy", new System.Globalization.CultureInfo("en-US"))
                        </div>
                        <div class="d-inline-block float-right">
                            @sharing.NumberOfComments Comments
                        </div>

                    </div>

                </div>
        }

        
    </div>



</div>