

@model UserListModel
@{
    ViewData["Title"] = "Setting";
    Layout = "_Layout";
}


<div class="container">
    <div class="card my-4">
        <h5 class="card-header">Settings</h5>
        <div class="card-body">
            <form asp-action="Setting" asp-controller="Profile" method="post">
                <input name="Id" type="hidden" value="@Model.Id" />
                <div class="form-group">
                    <label asp-for="@Model.UserName">Username</label>
                    <input asp-for="@Model.UserName" type="text" class="form-control">
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="@Model.Name">Name</label>
                        <input asp-for="@Model.Name" type="text" class="form-control">
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                    <div class="col form-group">
                        <label asp-for="@Model.LastName">Last Name</label>
                        <input asp-for="@Model.LastName" type="text" class="form-control">
                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Gender">Gender</label>
                    <select class="form-control" asp-for="@Model.Gender">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Other">Other</option>
                    </select>
                    @{ /*<input asp-for="@Model.Gender" type="text" class="form-control">*/
                    }
                    <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.PhoneNumber">Phone Number</label>
                    <input asp-for="@Model.PhoneNumber" type="text" class="form-control">
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Email">Email</label>
                    <input asp-for="@Model.Email" type="text" class="form-control" readonly>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                @{
                    var result = ViewBag.Result;
                    if (result != null)
                    {
                        <div class="form-group">
                            <span class="text-danger">@result</span>
                        </div>
                    }
                }
                <input type="submit" class="btn btn-primary" value="Save">
            </form>



        </div>
    </div>

</div>

@section Scripts{



}