@model UserListModel


    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">@Model.Id</h2>
            <p class="card-text">@Model.Username</p>
            <p class="card-text">@Model.Password</p>
            <p class="card-text">@Model.Name</p>
            <p class="card-text">@Model.LastName</p>
            <p class="card-text">@Model.Email</p>




        </div>
        

    </div>

